node_modules
vendor
dist
build
out
test/e2e/reports
playwright-report
test-results
coverage
prisma/migrations
prisma/generated
docker-compose*.yml
Dockerfile
dockerfile
.dockerignore
documentation.html
docs/generated
docs/build
package-lock.json
yarn.lock
pnpm-lock.yaml
*.png
*.jpg
*.jpeg
*.gif
*.svg
*.ico
*.woff
*.woff2
*.ttf
*.eot
src/styles/icons/eva/selection.json
src/styles/icons/fontawesome/selection.json
logs
*.log
.env
.env.*